<div class="flex justify-center">

    <div class="container-gray rounded-xl shadow-md w-11/12 space-y-1 p-3">
        <div class="w-full flex justify-center">
            <img src="assets/House.jpg" class="rounded-xl shadow-md border-4 border-black">
        </div>
        <div class="flex justify-between font-bold text-lg">
            <h4>Propiedad</h4>
            <p class="returns-green">0.0%</p>
        </div>
        <div class="space-y-1">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id vel error cupiditate nesciunt doloribus.</p>
            <button class="genuine-blue text-white text-center w-full rounded p-1">Ver mas</button>
        </div>
    </div>
</div>
